// Body
$body-bg: #f8fafc;

$z: 'Noto Sans Zanabazar Square', sans-serif;
$r: 'Roboto Slab', serif;
$t: 'Tillana', cursive;

// Typography
$font-family-sans-serif: $r;
$font-size-base: 0.9rem;
$line-height-base: 1.4;
